@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fc .fc-daygrid-day.fc-day-selected {
  background-color: #2C3E50 !important;
  border-radius: 50% !important;
}


.fc .fc-daygrid-day.fc-day-selected a {
  color: white!important;
  font-weight: bold !important;
}

.fc .fc-daygrid-day:hover {
  background-color: #2C3E50 !important;
  color: white;
  cursor: pointer;
}

.fc .fc-daygrid-day-frame {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
  min-height: 2.5em !important;
}

.selected-day {
  background-color: #2C3E50 !important;
  color: white !important;
  font-weight: bold !important;
}
